accelerate==1.7.0
adlfs==2024.12.0
aiobotocore==2.17.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aioitertools==0.12.0
aiosignal==1.3.2
altair==5.5.0
altgraph==0.17.4
annotated-types==0.7.0
anyio==3.7.1
appdirs==1.4.4
asn1crypto==1.5.1
asttokens==3.0.0
attrs==25.1.0
av==11.0.0
azure-common==1.1.28
azure-core==1.34.0
azure-datalake-store==0.0.53
azure-identity==1.23.0
azure-storage-blob==12.24.1
azure-storage-file-datalake==12.18.1
backports.functools-lru-cache==2.0.0
beautifulsoup4==4.13.3
bleach==6.2.0
blinker==1.9.0
blis==1.3.0
boto3==1.35.81
botocore==1.35.93
Brotli==1.1.0
CacheControl==0.14.3
cachetools==5.5.2
catalogue==2.0.10
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cloudpathlib==0.21.1
cloudpickle==3.1.1
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
confection==0.1.5
contourpy==1.3.1
cryptography==45.0.3
cssselect2==0.8.0
ctranslate2==4.6.0
customtkinter==5.2.2
cycler==0.12.1
cymem==2.0.11
dacite==1.9.2
darkdetect==0.8.0
dask==2024.12.1
dask-gateway==2024.1.0
databricks-sdk==0.41.0
databricks-sql-connector==4.0.3
datasketch==1.6.5
db-dtypes==1.4.3
debugpy==1.8.12
decorator==4.4.2
delta-kernel-rust-sharing-wrapper==0.2.2
delta-sharing==1.3.1
dill==0.3.9
distributed==2024.12.1
easyocr==1.7.2
ecdsa==0.19.1
et_xmlfile==2.0.0
eval_type_backport==0.2.2
executing==2.2.0
exrex==0.12.0
Faker==33.3.1
fastapi==0.104.1
faster-whisper==0.10.0
ffmpeg-python==0.2.0
filelock==3.17.0
firebase-admin==6.9.0
Flask==2.3.3
Flask-Cors==4.0.0
Flask-Dance==7.1.0
Flask-Login==0.6.3
flatbuffers==25.2.10
fonttools==4.56.0
fpdf==1.7.2
frozendict==2.4.6
frozenlist==1.5.0
fs==2.4.16
fs-gcsfs==1.5.1
fsspec==2024.12.0
future==1.0.0
fuzzywuzzy==0.18.0
gcsfs==2024.12.0
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.25.0rc1
google-api-python-client==2.174.0
google-auth==2.40.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
google-cloud-bigquery==3.33.0
google-cloud-bigquery-storage==2.27.0
google-cloud-core==2.4.3
google-cloud-firestore==2.21.0
google-cloud-storage==2.19.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
greenlet==3.1.1
grpcio==1.71.0
grpcio-status==1.71.0
gunicorn==23.0.0
h11==0.16.0
h2==4.2.0
hdbscan==0.8.40
hpack==4.1.0
htmlmin==0.1.12
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
huggingface-hub==0.32.0
humanfriendly==10.0
hyperframe==6.1.0
idna==3.10
ImageHash==4.3.1
imageio==2.37.0
imageio-ffmpeg==0.6.0
intel-openmp==2021.4.0
ipykernel==6.29.5
ipython==8.32.0
ipywidgets==8.1.7
isodate==0.7.2
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.5
jmespath==1.0.1
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.15
kaggle==1.5.16
kiwisolver==1.4.8
langcodes==3.5.0
language_data==1.3.0
lazy_loader==0.4
Levenshtein==0.27.1
libsass==0.23.0
lightgbm==4.6.0
llvmlite==0.44.0
locket==1.0.0
lz4==4.4.4
marisa-trie==1.2.1
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.8.3
matplotlib-inline==0.1.7
mdurl==0.1.2
miceforest==6.0.3
mkl==2021.4.0
more-itertools==10.7.0
moviepy==1.0.3
mpmath==1.3.0
msal==1.32.3
msal-extensions==1.3.1
msgpack==1.1.0
multidict==6.1.0
multimethod==1.12
multitasking==0.0.11
murmurhash==1.0.13
mysql-connector-python==9.1.0
narwhals==1.29.0
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.4
numba==0.61.0
numpy==1.26.2
oauthlib==3.2.2
onnxruntime==1.22.0
openai-whisper==20240930
opencv-python==4.8.1.78
opencv-python-headless==4.8.1.78
openpyxl==3.1.2
package_name==0.1
packaging==23.2
pandas==2.1.1
pandas-gbq==0.26.1
pandasql==0.7.3
parso==0.8.4
partd==1.4.2
patsy==1.0.1
pdf_reports==0.3.9
pdfminer.six==20250506
pdfplumber==0.11.7
peewee==3.17.9
pefile==2023.2.7
phik==0.12.4
phonenumbers==8.13.55
Pillow==10.1.0
platformdirs==4.3.6
plotly==5.19.0
preshed==3.0.9
presidio_analyzer==2.2.358
proglog==0.1.12
prompt_toolkit==3.0.50
propcache==0.3.0
proto-plus==1.26.1
protobuf==5.29.5
psutil==6.1.1
psycopg2==2.9.10
pure_eval==0.2.3
puremagic==1.29
py-cpuinfo==9.0.0
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyclipper==1.3.0.post6
pycparser==2.22
pydantic==2.4.2
pydantic_core==2.10.1
pydata-google-auth==1.9.1
pydeck==0.9.1
pydub==0.25.1
pydyf==0.11.0
pygame==2.6.1
Pygments==2.19.1
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2025.1
PyJWT==2.10.1
PyMySQL==1.1.1
pyod==2.0.5
pyodbc==5.2.0
pyOpenSSL==25.1.0
pyparsing==3.2.1
PyPDF2==3.0.1
pypdfium2==4.30.1
pyphen==0.17.2
pypiwin32==223
pypugjs==5.12.0
pyreadline3==3.5.4
pystray==0.19.5
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-jose==3.3.0
python-Levenshtein==0.27.1
python-multipart==0.0.6
python-slugify==8.0.4
pytube==15.0.0
pytz==2025.1
PyWavelets==1.8.0
pywin32==308
pywin32-ctypes==0.2.3
PyYAML==6.0.2
pyzmq==26.2.1
RapidFuzz==3.13.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-file==2.1.0
requests-oauthlib==2.0.0
rich==13.9.4
rpds-py==0.25.1
rsa==4.9.1
s3fs==2024.12.0
s3transfer==0.10.4
safetensors==0.5.3
scikit-image==0.25.2
scikit-learn==1.3.2
scipy==1.15.2
seaborn==0.13.2
segment-anything==1.0
sentencepiece==0.2.0
setuptools==75.8.0
shapely==2.1.1
shellingham==1.5.4
six==1.17.0
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
snowflake-connector-python==3.15.0
snowflake-sqlalchemy==1.7.3
sortedcontainers==2.4.0
soupsieve==2.6
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.14.3
SQLAlchemy==2.0.37
sqlparse==0.5.3
srsly==2.5.1
srt==3.5.3
stack-data==0.6.3
starlette==0.27.0
statsmodels==0.14.4
streamlit==1.32.0
sympy==1.14.0
tabulate==0.9.0
tbb==2021.13.1
tblib==3.1.0
tenacity==8.5.0
text-unidecode==1.3
thinc==8.3.6
threadpoolctl==3.6.0
thrift==0.20.0
tifffile==2025.6.11
tiktoken==0.9.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tldextract==5.3.0
together==1.4.1
tokenizers==0.15.2
toml==0.10.2
tomlkit==0.13.2
toolz==1.0.0
torch==2.7.1+cpu
torchaudio==2.7.1+cpu
torchvision==0.22.1+cpu
tornado==6.4.2
tqdm==4.64.1
traitlets==5.14.3
transformers==4.38.2
typeguard==4.4.2
typer==0.15.1
typing_extensions==4.12.2
tzdata==2025.1
ultralytics==8.3.157
ultralytics-thop==2.0.14
uritemplate==4.2.0
urllib3==1.26.20
URLObject==2.4.3
uuid==1.30
uvicorn==0.24.0
visions==0.7.6
vosk==0.3.45
wasabi==1.1.3
watchdog==6.0.0
wcwidth==0.2.13
weasel==0.4.1
weasyprint==64.1
webencodings==0.5.1
websockets==15.0.1
Werkzeug==2.3.7
widgetsnbextension==4.0.14
win10toast-click==0.1.2
wordcloud==1.9.4
wrapt==1.17.2
yarl==1.18.3
ydata-core==0.7.0
ydata-datascience==0.7.0
ydata-profiling==4.16.1
ydata-sdk==3.0.6
yfinance==0.2.54
zict==3.0.0
zopfli==0.2.3.post1
